/*import google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Macondo&display=swap');

/*CSS variables*/
:root{
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #416a8e; /* Example primary color - blue*/

}
/*global styles*/
body{
    font-family: var(--primary-font);
}
h1,
h2,
h3{
    font-family: var(--secondary-font);
    color: var(--primary-color);
}